*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    letter-spacing: 3px;
    font-weight: 800;
}
.header{
    background-color: #3498DB;
    height: 122px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
   
}
.pre{
    color: black;
    font-size: 55px;
    font-weight: bolder;    
    width: 100%;
}
.nav{
    background-color: #2980B9;
    height: 45px;
    width: 100%;
    display: flex;
    text-align: start;
    justify-content: center;
    flex-direction: column;
    color: #3498DB;
    font-size: 30px;
    padding: 0 20px;
}

.middle{
    display: flex;
}

.main{
    background-color: #F1C40F;
    height: 500px;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

p{
    font-size: 35px;
}

.section1{
    height:100px;
    width: 100% ;
    padding: 0 20px;
    background-color: #F39C12;
    color: #F1C40F;
}

.section2{
    margin-top: 20px;
    height:200px;
    width: 100% ;
    background-color: #F39C12;
    color: #F1C40F;
    padding: 0 20px; 
}

.target{
    width: 100%;
}

.article1{
    height: 25%;
    width: 100%;
    margin-top: 20px;
    background-color:  rgb(255, 132, 0);
    display: flex;
    justify-content: center; 
    align-items: center;
}

.article2{
    margin-top: 10px;
    height: 25%;
    width: 100%;
    background-color:  rgb(255, 132, 0);
    display: flex;
    justify-content: center;
}

.aside{
    background-color: #E74C3C;
    height: 500px;
    width: 30vw; 

    display: flex;
    flex-direction: column; 
    justify-content: center;
    text-align: start;
    align-items: center;
    padding:0 20px ;
}

.section3{
    margin-top: 10px;
    height: 180px;
    width: 100%;
    background-color:  #C0392B;
    display: flex;
    justify-content: center;
    color: #E74C3C;

}
.section4{
    margin-top: 10px;
    height: 180px;
    width: 100%;
    background-color:  #C0392B;
    display: flex;
    justify-content: center;    
    color: #E74C3C;
}

.footer{
    background-color: #2ECC71;
    color: black;
    height: 122px;
    display:flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}